{% extends 'base.html.twig' %}


{% block title %}Регистрация{% endblock %}

{% block body %}

    <div class="container">
        {% for msg in app.session.flashbag.get('addError') %}
            <div style="color: red; font-size: 18px; text-align: center;">{{ msg }}</div>
        {% endfor %}
        {{ form_start(userForm, {'attr': {'class': 'registerForm'} }) }}
        <label>Потребителско име:</label>
        {{ form_widget(userForm.username) }}
        <label>Парола:</label>
        {{ form_widget(userForm.password) }}
        {{ form_end(userForm) }}
    </div>



{% endblock %}