{% extends 'base.html.twig' %}

{% block title %}Начална страница{% endblock %}

{% block body %}

    <div class="container">


        {{ form_start(articleForm, {'attr': {'class': 'articleForm'} }) }}
        <label>Заглавие:</label>
        {{ form_widget(articleForm.title) }}
        <label>Текст:</label>
        {{ form_widget(articleForm.body, {'attr': {'class': 'form-control text-area'} }) }}
        {{ form_end(articleForm) }}

        {% for msg in app.session.flashbag.get('addArticle') %}
            <div style="color: cyan; font-size: 24px; text-align: center;">{{ msg }}</div>
        {% endfor %}
        {% for msg in app.session.flashbag.get('ErrorArticle') %}
            <div style="color: red; font-size: 24px; text-align: center;">{{ msg }}</div>
        {% endfor %}

        <hr/>

        <h2>Публикации:</h2>
        {% for userArticle in userArticles %}
            <div class="articles">
                <div class="article-header">
                    <h3>{{ userArticle.title }}</h3>
                    <span class="created-by">Създаден от: {{ userArticle.username }}</span>
                    <span class="likes">Харесвания:  <button style="margin-bottom: 2px!important;" class="likePost btn btn-primary mb-2 likeComment" data-article="{{ userArticle.id }}">like</button> (<span class="postLikes">{{ userArticle.count }}</span> likes)</span>
                </div>
                <hr style="margin: 0px;"/>
                <div class="article-body">
                    {{ userArticle.body }}
                </div>
                <hr/>
                <div class="article-foot">
                    <form method="post" class="addComment" action="{{ path("add_comment", {id: userArticle.id}) }}">
                        <input class="form-control" name="comment" type="text" />
                        <input class="btn btn-primary mb-2 btn-comment" name="btnAdd" type="submit" value="Добави коментар" style="margin-bottom: 2px!important;"/>
                    </form>
                </div>
                <div class="comments">
                    {% for comment in userArticle.comments %}
                        <div class="comment"><i style="color: blue">Коментар създаден от {{ comment.username }}:</i> {{ comment.comment }} <button style="margin-bottom: 2px!important;" class="btn btn-primary mb-2 likeComment" data-article="{{ userArticle.id }}" data-id="{{ comment.id }}">like</button> (<span class="commentLikes">{{ comment.count }}</span> likes)</div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}

        <div class="paginator">
            {% if app.request.get('page', 1) > 1 %}
                <a class="prev page-numbers" href="{{ path('view_articles', {page: app.request.get('page') - 1}) }}"><</a>
            {% endif %}

            {% for i in 1..pages %}
                <span class="page-numbers current"><a href="{{ path('view_articles', {page: i}) }}">{{ i }}</a></span>
            {% endfor %}

            {% if app.request.get('page', 1) < pages and app.request.get('page') is not null %}
                <a class="next page-numbers" href="{{ path('my_articles', {page: app.request.get('page') + 1}) }}">></a>
            {% elseif app.request.get('page', 1) < pages and app.request.get('page') is null %}
                <a class="next page-numbers" href="{{ path('my_articles', {page: app.request.get('page') + 2}) }}">></a>
            {% endif %}
        </div>
    </div>


{% endblock %}