<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('CSS/style.css') }}">
            <link rel="stylesheet" href="{{ asset('CSS/bootstrap.min.css') }}">
        {% endblock %}
    </head>

    <nav>
        <div class="w3-bar w3-light-grey">
            <div class="container">
                <a href="{{ path("view_articles") }}" class="w3-bar-item w3-button">Начало</a>
            {% if app.user %}
                <a href="{{ path("my_articles") }}" class="w3-bar-item w3-button">Моите публикации</a>
                <div class="w3-bar-item logged-user">Потребителско име: {{ app.user.username }}</div>
                <a href="{{ path("logout") }}" class="w3-bar-item w3-button">Изход</a>
            {% else %}
                <a href="{{ path("app_login") }}" class="w3-bar-item w3-button">Вход</a>
            {% endif %}
            </div>
        </div>
    </nav>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
            <script src="{{ asset('JS/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
